.error404 {
    .site-content {
        margin: 0 5.07%;
        h2 {
            margin-bottom: 10px;
        }
        p {
            margin-top: 0;
        }
        .search-form {
            width: 100%;
            border: 0;
            margin-left: 0;
            margin-bottom: 2rem;
        }
        fieldset {
            border: 0;
            margin: 0 auto;
            padding: 0;
        }
        .search-field {
            margin: 0;
            border: 0.5px solid $color__accent;
            padding: 9px;
            width: 87%;
        }
        .fieldset {
            border: 0;
            margin: 0;
        }
        .search-submit {
            @include subscribe-btn;
            box-shadow: none;
            width: 5%;
            background-color: transparent;
            color: $color__accent;
            font-size: 18px;
            border: none;
        }
        .widget_recent_entries {
            ul {
                margin: 0;
                li {
                    color: $color__accent;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

.error404 {
    @media screen and (min-width: $breakpoint) {
        .search-form {
            width: 52%;
            fieldset {
                border: 0;
                padding: 0;
                width: 50%;
                margin-left: 0;
            }
        }
    }
}
