.single-post {

    .site-footer {
        display: none;
    }
    .tags-links a::before {
        content: "#";
        }

        a {
            text-decoration: none;
            font-size: $font__tags;
            color: $color__tags;
        }
    
    .entry-title {
        font-size: font__header;
        color: $color__accent;
    }
    
    .entry-date {
        color: $color__accent;
    }
}




//2-column Layout

@media screen and (min-width: $breakpoint) {
    .blog {
        .site-content {
            display: flex;
            flex-direction: row-reverse;
            .content-area {
                flex-basis: 75%
            }
            .widget-area {
                flex-basis: 25%;
            }
        }
    }
}

