.blog, 
.single-post {
    .site-content {
        padding-top: 60px;
    }
    .widget-area {
        display: none;
    }
    .icon-container-desktop {
        display: none;
    }
    .icon-container-mobile {
        text-align: center;
        p {
            color: $color__accent;
            margin-bottom: 0;
        }
    }
    .site-footer {
        display: none;
    }
    .entry-header {
        text-align: center;
        .posted-on {
            color: $color__accent;
            font-size: 1.2rem;
        }
    }
    .blog-image {
        height: 250px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .text-content {
        margin: 0px 20px;
        border-bottom: 2px solid $color__underline;
        padding-bottom: 30px;
        .entry-title {
            font-size: 1.5rem;
            color: $color__accent;
            margin-bottom: 0;
            letter-spacing: 1px;
            a {
                text-decoration: none;
            }
        }
        .entry-meta {
            font-size: 13px;
            .tags-links a::before {
                content: "#";
            }
            a {
                text-decoration: none;
                color: $color__tags;
                font-size: 13px;
            }
        }
        .jssocials-shares {
            display: none;
        }
    }
}


//Desktop: 2-column layout
@media screen and (min-width: $breakpoint) {
    .blog,
    .single-post {
        .widget-area {
            display: block;
            margin-right: 50px;
            padding-top: 10px;
        }
        .site-footer {
        display: flex;
            .widget-area {
                .mc4wp-form {
                    border: none;
                    height: 80px;
                    width: 350px;
                }
                .mc4wp-form-fields {
                    border: none;
                    display: flex;
                    height: auto;
                    overflow: visible;
                    width: auto;
                    h4 {
                        display: none;
                    }
                    p {
                        display: none;
                    }
                    .subscribe-button {
                        background-color: $color__accent;
                        border: 1px solid $color__accent;
                        border-radius: 0;
                        box-shadow: none;
                        color: $color__reverse;
                        font-size: $base__font;
                        margin: 18px 0;
                        padding: 12px 0;
                        text-shadow: none;	
                        width: 130px;
                    }
                    .email-input {
                        border: 1px solid $color__accent;
                        border-radius: 0;
                        margin: 18px 0;
                        padding-left: 12px;
                        padding-right: 50px;
                    }
                }
            }
        }
        .site-content {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 70px;
            .content-area {
                flex-basis: 70%;
                margin-right: 67px;
                .blog-photo {
                    display: flex;
                    width: 100%;
                    margin-top: 10px;
                    .blog-image {
                        min-height: 483px; 
                        width: 100%;
                        background-position: center center;
                    }
                }
                .post-date {
                    display: none;
                }
                    .icon-container-mobile {
                        display: none;
                    }
                    .icon-container-desktop {
                        display: block;
                        width: 50px;
                        margin-left: -30px;
                        margin-top: 12px;
                        .facebook-icon {
                            margin-bottom: 21px;
                        }
                        .comment-icon {
                            padding-bottom: 82px;
                        }
                    }
                } 
                .text-content {
                    border: 0;
                    .entry-content a {
                        color: $color__accent;
                        text-decoration: underline;
                        letter-spacing: 1px;
                        display: inline;
                        background-color: transparent;
                    }
                }
                .subscribe-mobile-container {
                    display: none;
                }
                .jssocials-shares {
                    display: block;  
                    margin: 0; // or .3em 0 to have vertical gaps between shares
                    width: 5%;
                    background-color: transparent;
                    .jssocials-share-link { 
                        border-radius: 50%; 
                        background-color: $color__accent;
                        padding: 7px 8px;
                        font-size: 25px;
                    }
                }
            }
        }
    }