/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/


@font-face {
    font-family: 'Acherus-Grotesque-Regular';
    src: url('../../assets/fonts/Acherus-Grotesque-Regular.woff2') format('woff2'),
         url('../../assets/fonts/Acherus-Grotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}