// Footer Styling [MOBILE]
.site-footer {
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.5);
    display: none;
    height: 1.35%;
    .footer-left {
        align-items: center;
        display: flex;
        flex: 0 1 50%;
    }
    .footer-right {
        flex: 0 1 50%;
        display: flex;
        justify-content: flex-end;
    }
    img {
        margin: 7.5px;
        max-height: 35px;
        max-width: 35px;
    }
}

.home {
    .site-footer {
        display: flex;
        margin-top: 35px;
    }
    .widget-area {
        display: none;
    }
}

// Footer Styling [DESKTOP]
@media screen and (min-width: $breakpoint) {
    .home {
        .widget-area {
            display: block;
        }
    }
    .site-footer{
        display: flex;
        height: 1.84%;
        img {
            margin: 12.5px;
            max-height: 40px;
            max-width: 40px;
        }
        .widget-area{
            .mc4wp-form-fields {
                border: none;
                display: flex;
                height: auto;
                overflow: visible;
                width: auto;
                h4 {
                    display: none;
                }
                p {
                    display: none;
                }
                .subscribe-button {
                    margin-left: 0;
                    padding: 0;
                }
                .email-input {
                    height: 36px;
                }
            }
        }
    }
}