body {
    font-family: $font__main;
    color: $color__text-main;
}

h1, h2 {
    color: $color__accent;
    letter-spacing: 5px;
}

h3 {
    display: flex;
    justify-content: center;
    @include subscribe-btn;
    a {
        &:hover {
            color: white;
        }
    }
}
a:hover {
    background-color: transparent;
}