/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Links */

a {
	color: $color__accent;
	&:visited {
		//color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		ul {
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;

			ul {
				left: -999rem;
				top: 0;
			}
			li {
				&:hover>ul,
				&.focus>ul {
					left: -3.4rem;
				}
			}
			a {
				width: 200px;
			}
			:hover>a,
			.focus>a {}
			a:hover,
			a.focus {}
		}
		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		
		&:hover>a,
		&.focus>a {
		}
		&:hover>.sub-menu,
		&.focus>.sub-menu {
			left: -3.4rem;
		}
	}
	a {
		display: block;
		text-decoration: none;
	}
	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a {}
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

//Additional Styling below here

.site-header {
	height: 83px;
	.header-nav-bar {
		//Header bar for the mobile site
		background: rgba(255, 255, 255, 0.90);
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
		height: 40px;
		display: flex;
		position: fixed;
		transition: all .2s ease-out 0s;
		top: 0px;
		width: 100%;
		p {
			margin: 0px;
			padding: 20px 0px;
		}
		.burger-nav {
			flex-basis: 30%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center; 
			//Styling for the slide out nav bar
			.menu {
				margin: 0px;
				padding: 0px;
				li {
					list-style: none;
					font-size: 22px;
				}
				a {
					text-decoration: none;
				}
				.sub-menu {
					display: none;
				}
				.sub-menu--open {
					display: block;
				}
			}
			.nav-side {
				position: fixed;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				max-width: 250px;
				background-color: rgba(255, 255, 255, 0.90);
				box-sizing: border-box;
				padding: 20px;
				color: white;
				margin-left: -250px;
				transition: margin 200ms ease-in-out;
			}
			.nav-side.nav-open {
				margin-left: 0;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
			}
			.nav-toggle {
				position: absolute;
				right: -70px;
				top: 0;
				width: 40px;
				height: 40px;
				text-decoration: none;
				text-align: center;
				border-bottom-right-radius: 3px;
			}
			.nav-toggle:before {
				content: "\2261";
				color: $color__accent;
				line-height: 35px;
				font-size: 50px;
			}
			.nav-side.nav-open .nav-toggle:before {
				display: none;
			}
		}
	}
	.header-page-name {
		flex-basis: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header-logo-mobile {
		display: flex;
		justify-content: center;
		flex-basis: 30%;
		
		img {
			max-height: 100%;
		}
		

	} 
		.nav-logo {
			height: 0;
		}

		//Settings for desktop
	@media (min-width: $breakpoint) {
		.header-nav-bar {
			display: none;
		}
		
		.nav-logo {
			height: 100%;
		}

		.sub-menu {
			flex-direction: column;
			margin-top: 20px;
			text-align: center;
			li {
				background-color: rgba(255, 255, 255, 0.90);
				border: 0.5px solid #0C5661;
				&:nth-child(2) {
					border-top: 0px;
					border-bottom: 0px;
				}
			}
		}

		.main-navigation {
			//Desktop header bar styling
			background: rgba(255, 255, 255, 0.90);
			display: flex;
			box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 0px; //avocado

			.header-logo {
				flex-basis: 15%;
				img {
					max-height: 83px;
				}
				a {
					display: flex;
					justify-content: flex-end;
				}
			}
			.nav-menu-options {
				flex-basis: 85%;
				.menu li {
					font-size: 20px
				}
				div {
					height: 100%;
					ul {
						align-items: center;
						height: 100%;
						display: flex;
						justify-content: space-evenly;
					}
				}
			}

			.menu-item-has-children {
				    height: 100%;
    display: flex;
    align-items: center;
			}

			ul ul {
				top: 5.6rem;
				li {
					padding: 10px 0px;
				}
			}
		}
	}
}

.page-template-about {
	.site-header {
		height: 0px;
	}
}