/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Links */

a {
	color: $color__accent;
	&:visited {}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		ul {
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			ul {
				left: -999rem;
				top: 0;
			}
			li {
				&:hover>ul,
				&.focus>ul {
					left: -3.4rem;
				}
			}
			a {
				width: 170px;
			}
			:hover>a,
			.focus>a {}
			a:hover,
			a.focus {}
		}
		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		&:hover>a,
		&.focus>a {}
		&:hover>.sub-menu,
		&.focus>.sub-menu {
			left: -3.4rem;
		}
	}
	a {
		display: block;
		text-decoration: none;
	}
	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a {}
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

//Additional Styling below here
.site-header {
	.header-nav-bar {
		//Header bar for the mobile site
		background: rgba(255, 255, 255, 0.90);
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
		height: 40px;
		display: flex;
		position: fixed;
		transition: all .2s ease-out 0s;
		top: 0px;
		width: 100%;
		z-index: 16;
		p {
			color: $color__accent;
			font-size: 20px;
			letter-spacing: 1px;
			margin: 0px;
			padding: 20px 0px;
			color: $color__accent;
		}
		.burger-nav {
			flex-basis: 30%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center; //Styling for the slide out nav bar
			.menu {
				margin: 0px;
				padding: 0px;
				li {
					list-style: none;
					font-size: 22px;
					line-height: 3;
				}
				a {
					text-decoration: none;
				}
				.sub-menu {
					display: none;
				}
				.sub-menu--open {
					display: block;
					padding: 0px;
					li {
						line-height: 1.5;
						a {
							color: grey;
							font-size: 16px;
						}
					}
				}
			}
			.nav-side {
				position: fixed;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				max-width: 250px;
				background-color: rgba(255, 255, 255, 0.90);
				box-sizing: border-box;
				padding: 20px;
				color: white;
				margin-left: -250px;
				transition: margin 200ms ease-in-out;
				a {
					text-decoration: none;
					.mobile-nav-menu-home {
						font-weight: 400;
						font-size: 22px;
						margin-bottom: 12px;
						letter-spacing: 0px;
					}
				}
			}
			.nav-side.nav-open {
				margin-left: 0;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
				.search-form {
					width: 100%;
					border: 0;
					margin-left: 0;
					margin-bottom: 2rem;
				}
				fieldset {
					border: 0;
					margin: 0 auto;
					padding: 0;
				}
				.search-field {
					margin: 0;
					border: 0.5px solid $color__accent;
					padding: 9px;
					width: 87%;
				}
				.fieldset {
					border: 0;
					margin: 0;
				}
				.search-submit {
					@include subscribe-btn;
					box-shadow: none;
					width: 5%;
					background-color: transparent;
					color: $color__accent;
					font-size: 18px;
					border: none;
					padding-left: 41%;
					.icon-search {
						font-size: 30px;
					}
				}
			}
			.nav-toggle {
				position: absolute;
				right: -70px;
				top: 0;
				width: 32px;
				height: 22px;
				text-decoration: none;
				text-align: center;
				border-bottom-right-radius: 3px;
				background: url('../../assets/icons/ham-nav.svg');
				background-size: contain;
				background-repeat: no-repeat;
				margin-top: 9px;
			}
			.nav-side.nav-open .nav-toggle:before {
				display: none;
			}
		}
	}
	.header-page-name {
		flex-basis: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header-logo-mobile {
		display: flex;
		justify-content: center;
		flex-basis: 30%;
		padding-left: 6%;
		img {
			max-height: 100%;
			max-height: 80%;
			margin-top: 4px;
		}
	}
	.nav-logo {
		height: 0;
	} //Settings for desktop
	@media (min-width: $breakpoint) {
		.header-nav-bar {
			display: none;
		}
		.nav-logo {
			height: 100%;
		}
		.sub-menu {
			flex-direction: column;
			margin-top: 8px;
			text-align: center;
			li {
				background-color: rgba(255, 255, 255, 0.8);
				border: 0.5px solid #0C5661;
				&:nth-child(2) {
					border-top: 0px;
					border-bottom: 0px;
				}
			}
		}
		.main-navigation {
			//Desktop header bar styling
			background: rgba(255, 255, 255, 0.80);
			display: flex;
			box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 0px;
			height: 83px;
			.header-logo {
				flex-basis: 13%;
				img {
					max-height: 65px;
				}
				a {
					display: flex;
					justify-content: center;
					height: 100%;
					align-items: center;
				}
			}
			.nav-menu-options {
				flex-basis: 83%;
				.menu li {
					font-size: 20px;
					margin-left: 25px;
					.sub-menu li a {
						color: black;
						font-size: 15px;
						letter-spacing: 2px;
					}
				}
				div {
					height: 100%;
					ul {
						align-items: center;
						height: 100%;
						display: flex;
						justify-content: space-evenly;
					}
				}
			}
			.menu-item-has-children {
				height: 100%;
				display: flex;
				align-items: center;
			}
			ul ul {
				top: 5.6rem;
				li {
					padding: 7px 0px;
				}
			}
		}
	}
}

.page-template-about {
	.site-header {
		height: 0px;
	}
}