/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Front page */

.home-hero {
    align-items: center;
    background-image: url("../../assets/images/Outdoor02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 50%;
    width: 100vw;
    height: 100vh;
    display: flex;

    .home-hero-overlay {
        background-color: rgba(255, 255, 255, 0.60);
        text-align: center;
        width: 100%;

        h1 {
            margin: 0px;
            color: white;

            &:nth-child(2) {
                font-size: 24px;
            }
        }
    }
}

.front-page-photography-image {
    background: url("../../assets/images/Outdoor39.jpg");
    background-size: cover;
    background-position: 50% 87%;
    height: 125px;
}

.front-page-speaker-image {
    background: url("../../assets/images/Outdoor41.jpg");
    background-size: cover;
    background-position: 50% 93%;
    height: 125px;
}

.front-page-about,
.front-page-photography,
.front-page-speaker,
.other-projects,
.speaker-description {
    //Create mixin!
    width: 75%;
    margin: auto;
    .red-button {
        display: flex;
        justify-content: center;
    } //This hides the overflow text until switched to desktop mode
    .desktop-text {
        display: none;
    }
}

.front-page-header-box,
.speaker-header-box {
    //Create Mixin for this later!
    display: flex;
    justify-content: center;
    margin: auto;
    border-bottom: 1px solid $color__underline;
}

.other-projects {
    width: 100%;

    .wild-image-project {
    align-items: center;
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid red;
    margin-bottom: 51px;

    &:before {
        content: ' ';
        background: url("../../assets/images/wild.jpg");
        background-size: cover;
        background-position: 50% 65%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.2;
         }

    p {
        display: none;
        margin: 15px 70px;
    }

    h3 {
        z-index: 2;
        position: relative;
        height: 60px;
    }
    }
    .front-page-blog {
    align-items: center;
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid red;
    
        &:before {
        content: ' ';
        background: url("../../assets/images/Outdoor14.jpg");
        background-size: cover;
        background-position: 50% 25%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.2;
         }
    
        p {
        display: none;
        margin: 15px 70px;
    }

    h3 {
        z-index: 2;
        position: relative;
        height: 60px;
    }
    }
    }

    
    
    

//Styling for Front Page [DESKTOP]

    @media (min-width: $breakpoint) {
        .home-hero {
            align-items: initial;
            
            .home-hero-overlay {

                background: none;

                h1:first-child {
                    display: none;
                }
                h1:last-child {
                    font-size: 48px;
                    letter-spacing: 6px;
                    margin-top: 110px;
                    
                }
            }
        }

        .desktop-text {
            display: block;
        }

        .project-container {
            display: flex;
            .wild-image-project {
                height: 317px;
                flex-direction: column;
                                p {
               display: block;
    }
            }



            .front-page-blog {
                height: 317px;
                flex-direction: column;
                                p {
               display: block;
    }
            }

        }


    }



//Styling for Speaker Page [MOBILE]

.speaker-header-box {
justify-content: left;
}

.speaker-header-image {
    background-image: url("../../assets/images/Speaker1.jpg");
    background-size: cover;
        height: 265px;
}

.speaker-bottom-half {
    align-items: center;
    display: flex;
    flex-direction: column;
}

//Styling for Speaker Page [DESKTOP]
@media (min-width: $breakpoint) {
    .speaker-top-half {
        display: flex;

        .speaker-header-image {
            flex-basis: 50%;
            margin: 1.5rem 3rem;
            border: 2px solid $color__accent;
            background-image: url("../../assets/images/Speaker1.jpg");
            background-size: cover;
            max-width: 550px;
            min-height: 400px;
        }

        .speaker-description {
            flex-basis: 50%;
            margin-right: 1.5rem;
        }
    }

    .speaker-bottom-half {
        flex-direction: row;
        margin: 5px;

        div {
            margin: 5px;
        }
    }
}