/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.front-page-about, .front-page-photography, .front-page-speaker, .other-projects, .speaker-description { //Create mixin!
    width: 75%;
    margin: auto;

    .red-button {
        display:flex;
        justify-content: center;
    }

    //This hides the overflow text until switched to desktop mode
    .desktop-text {
        display: none;
    }

    @media (min-width: $breakpoint) {
        .desktop-text{ 
            display: block;
        }
    }
}

.front-page-header-box, .speaker-header-box { //Create Mixin for this later!
    display: flex;
    justify-content: center;
    margin: auto;
    border-bottom: 1px solid $color__underline;
}

.front-page-photography-image, .front-page-speaker-image,  {
    height: 125px;
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        bottom: 0px;
    }
}

//Styling for Speaker Page

.speaker-bottom-half {
    align-items: center;
    display: flex;
    flex-direction: column;
}