.wp-image-220 {
    width: 100%;
}

//Styling for Project Archive Page [MOBILE]
.post-type-archive-project {
    .project-container {
        .project-title {
            background: #DC4E3C;
            a {
                color: white;
                text-decoration: none;
            }
            h2 {
                margin-bottom: 0;
            }
        }
    }
}

//Styling for Project Archive Page [DESKTOP]
@media screen and (min-width: $breakpoint) {
    .single-project {
        .wp-post-image {
            height: 75vh;
            width: auto;
        }
    }
    .post-type-archive-project {
        .project-container {
            display: flex;
            flex-direction: column;
            .project-title {
            }
            .project-mobile-description {
                display: none;
            }
        }
        .site-main {
            display: flex;
            justify-content: space-around;
            margin: 0 2%;
            .page-header {
                left: -1000px;
                position: absolute;
                width: 0;
            }
            .project {
                width: 29.5%;
            }
        }
    }
}