.single-project, .post-type-archive-project {
    .wp-post-image {
        @media screen and (min-width: $breakpoint) {
        width: auto;
        height: 75vh;
        }
    }
}

.wp-image-220 {
    width: 100%;
}

//Styling for Project Archive Page [MOBILE]
.post-type-archive-project {
    .project-container {
        .project-title {
            background: #DC4E3C;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

//Styling for Project Archive Page [DESKTOP]
@media screen and (min-width: $breakpoint) {
    .post-type-archive-project {
        .project-container {
            display: block;
            .project-title {
                position: absolute;
            }
            .project-mobile-description {
                display: none;
            }
        }
    }
}