.search {
    .site-content {
        margin: 0 20px;
        fieldset {
            border: 0;
            margin: 0 auto;
            padding: 0;
        }
        .search-field {
            width: 80%;
            margin: 0;
            border: 0.5px solid $color__accent;
            padding: 9px;
        }
        .search-form {
            border: 0;
            margin: 0;
        
        .fieldset {
            border: 0;
            margin: 0;
        }
        .search-submit {
            @include subscribe-btn;
            box-shadow: none;
            display: inline;
            background-color: transparent;
            color: $color__accent;
            font-size: 18px;
            border: none;
        }
        ul {
            margin: 0;
        }
    }
    }
}

.search {
    @media screen and (min-width: $breakpoint) {
        fieldset {
            border: 0;
            padding: 0;
            width: 50%;
            margin-left: 0;
        }
    }
}


.search-results {
    .entry-meta {
        display: none;
    }
    .entry-title a {
        text-decoration: none;
    }
    .search-pagination {
        display: flex;
        justify-content: space-between;
        width: 50%;
        a {
            text-decoration: none;
        }
    }
}