.search {
    .site-content {
        margin: 0 5.07%;

        .site-main {
            margin-top: 25px;
        }
        fieldset {
            border: 0;
            margin: 0 auto;
            padding: 0;
        }
        .search-field {
            width: 80%;
            margin: 0;
            border: 0.5px solid $color__accent;
            padding: 9px;
        }
        .search-form {
            border: 0;
            margin: 0;
        }
        .fieldset {
            border: 0;
            margin: 0;
        }
        .search-submit {
            @include subscribe-btn;
            box-shadow: none;
            display: inline;
            background-color: transparent;
            color: $color__accent;
            font-size: 18px;
            border: none;
        }
        ul {
            margin: 0;
        }
    }
}

.search {
    @media screen and (min-width: $breakpoint) {
        padding-top: 100px;
        fieldset {
            border: 0;
            padding: 0;
            width: 50%;
            margin-left: 0;
        }
    }
}

.search-results {
    .entry-meta {
        display: none;
    }
    .entry-title a {
        text-decoration: none;
    }
    .search-pagination {
        text-align: center;
    }
    .search-pagination>a {
        background-size: auto 100%;
        background-repeat: no-repeat;
        text-decoration: none;
        &.prev.page-numbers {
            background-image: url('../../assets/icons/left.svg');
            background-position: left center;
            padding-left: 20px;
            width: 50%;
        }
        &.next.page-numbers {
            background-image: url('../../assets/icons/right.svg');
            background-position: right center;
            padding-right: 20px;
            width: 50%;
        }
    }
}