//MOBILE version
.single-post {
        .post-date-2 {
            color: $color__accent;
        }
        .read-more {
            margin-bottom: 20px;
            a {
                background-color: $color__accent;
                color: $color__reverse;
                text-decoration: none;
                padding: 4px 10px;
                letter-spacing: 2px;
                margin-left: 68%;
            }
        }
    }
    .nav-links > div {
        background-size: auto 100%;
        background-repeat: no-repeat;
        margin: 0 20px;
        width: 40%;
        a {
            text-decoration: none;
        }
        &.nav-previous {
            background-image: url( '../../assets/icons/left.svg' );
            background-position: left center;
            padding-left: 20px;
        }
        &.nav-next {
            background-image: url( '../../assets/icons/right.svg' );
            background-position: right center;
            padding-right: 20px;
        }
    }
    .entry-meta {
        font-size: 13px;
        letter-spacing: 1px;
        .tags-links a::before {
            content: "#";
        }
        a {
            text-decoration: none;
            color: $color__tags;
            font-size: 12px;
        }
    }

    //Bottom Subscription Box:
    .subscribe-mobile-container {
        .mc4wp-form {
            background-color: $color__accent;
            box-sizing: border-box;
            padding: 10px 20px;
            .subscribe-desktop {
                display: none;
            }
            h4 {
                display: none;
            }
            p {
                color: $color__reverse;
            }
            .email-input {
                border-radius: 0;
                width: 65%;
                padding-right: 5px;
            }
            .subscribe-button {
                @include subscribe-btn;
                padding: 8px 20px;
                border-radius: 0;
                width: 30%;
                box-shadow: none;
                border: 1px solid $color__reverse;
                font-size: 1rem;
                text-align: center;
                text-shadow: none;
            }
        }
    }

//COMMENTS SECTION 
.single-post {
    .comments-area {
        margin: 0 20px;
        padding-bottom: 30px;
        .comment-reply-title {
            background-color: transparent;
            color: $color__accent;
            border: none;
            border-bottom: 2px solid $color__underline;
            width: 100%;
        }
        input {
            width: 100%;
        }
        .form-submit {
            margin-bottom: 20px;
            background-color: $color__accent;
            color: $color__reverse;
            text-decoration: none;
            padding: 4px 10px;
            letter-spacing: 2px;
            margin: 0 auto;
            width: 50%;
            .submit {
                // @include subscribe-btn;
                background-color: $color__accent;
                box-shadow: none;
                color: $color__reverse;
                font-size: 18px;
                letter-spacing: 1px;
                text-shadow: none;
            }
        }
    }
}



//Desktop: 2-column layout
@media screen and (min-width: $breakpoint) {
    .single-post {
        .icon-container-mobile {
            display: none;
        }
        .nav-links {
            padding: 20px;
            line-height: 1px;
                a {
                    background-color: $color__accent;
                    color: $color__reverse;
                    text-decoration: none;
                    padding: 20px;
                    letter-spacing: 1px;
                    }
                }
            }
        .comments-area {
            display: flex;
            justify-content: center;
            align-content: center;
            margin: 0 auto;
            .comment-respond {
                width: 60%;
            }
        }
    }