//MOBILE version
.single-post {
    .icon-container-desktop {
        display: none;
    }
    .icon-container-mobile {
        @include facebook-icon;
        @include twitter-icon;
        text-align: center;
        p {
            color: $color__accent;
            margin-bottom: 0;
        }
    }
    .widget-area {
        display: none;
    }
    .site-footer {
        display: none;
    }
    .entry-header {
        text-align: center;
        .posted-on {
            color: $color__accent;
            font-size: 1.2rem;
        }
    }
    .text-content {
        margin: 0px 20px;
        border-bottom: 2px solid $color__underline;
        .entry-title {
            font-size: 1.5rem;
            color: $color__accent;
            margin-bottom: 0;
            letter-spacing: 1px;
            a {
                text-decoration: none;
            }
        }
        .post-date-2 {
            color: $color__accent;
        }
        .read-more {
            margin-bottom: 20px;
            a {
                background-color: $color__accent;
                color: $color__reverse;
                text-decoration: none;
                padding: 4px 10px;
                letter-spacing: 2px;
                margin-left: 68%;
            }
        }
    }
    .nav-links {
        margin: 0 20px;
        a {
            text-decoration: none;
        }
    }
    .entry-meta {
        font-size: 13px;
        letter-spacing: 1px;
        .tags-links a::before {
            content: "#";
        }
        a {
            text-decoration: none;
            color: $color__tags;
            font-size: 12px;
        }
    }
    //Bottom Subscription Box:
    .subscribe-mobile-container {
        .mc4wp-form {
            background-color: $color__accent;
            box-sizing: border-box;
            padding: 10px 20px;
            .subscribe-desktop {
                display: none;
            }
            h4 {
                display: none;
            }
            p {
                color: $color__reverse;
            }
            .email-input {
                border-radius: 0;
                width: 65%;
                padding-right: 5px;
            }
            .subscribe-button {
                @include subscribe-btn;
                padding: 8px 20px;
                border-radius: 0;
                width: 30%;
                box-shadow: none;
                border: 1px solid $color__reverse;
                font-size: 1rem;
                text-align: center;
                text-shadow: none;
            }
        }
    }
}


//Desktop: 2-column layout
@media screen and (min-width: $breakpoint) {
    .single-post {
        .icon-container-mobile {
            display: none;
        }
        .widget-area {
            display: block;
        }
        .site-content {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 70px;
            .content-area {
                flex-basis: 70%;
                .post-date {
                    display: none;
                }

                .entry-content a {
                    color: $color__accent;
                    text-decoration: underline;
                    letter-spacing: 1px;
                    display: inline;
                    background-color: transparent;
                }
                .blog-photo {
                    display: flex;
                    .icon-container-desktop {
                        @include facebook-icon;
                        @include twitter-icon;
                        @include comment-icon;
                        display: block;
                        width: 50px;
                        margin-left: -30px;
                        .comment-icon {
                            padding-bottom: 82px;
                        }
                    }
                }
                .nav-links {
                    padding: 20px;
                    line-height: 1px;
                    a {
                        background-color: $color__accent;
                        color: $color__reverse;
                        text-decoration: none;
                        padding: 20px;
                        letter-spacing: 1px;
                    }
                }
            }
            .widget-area {
                flex-basis: 30%;
                margin-left: auto;
                margin-right: auto;
                .widget-title {
                    text-align: center;
                    border-bottom: 1px solid $color__underline;
                    width: 80%;
                    margin: 0 auto;
                    font-size: 22px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
            }
            .text-content {
                border: 0;
            }
            .subscribe-mobile-container {
                display: none;
            }
            .comments-area {
                width: 50%;
                display: flex;
                justify-content: center;
                align-content: center;
            }
        }
    }
}