.archive.tag {
    .widget-area {
        display: none;
    }
    .page-title {
        color: $color__accent;
    }
    .entry-title {
        text-decoration: none;
    }
    .entry-content {
        p {
            margin: 0 20px;
        }
    }
}