.archive.tag {
    .widget-area {
        display: none;
    }
    .page-title {
        color: $color__accent;
        margin: 0 5.07%;
    }
    .entry-title a {
        text-decoration: none;
        margin: 0 5.07%;
    }
    .entry-meta {
        display: none;
    }
    .entry-content {
        p {
            margin: 0 5.07%;
        }
    }
    .nav-links>div {
        background-size: auto 100%;
        background-repeat: no-repeat;
        margin: 0 5.07%;
        a {
            text-decoration: none;
        }
        &.nav-previous {
            background-image: url('../../assets/icons/left.svg');
            background-position: left center;
            padding-left: 20px;
            width: 30%;
        }
        &.nav-next {
            background-image: url('../../assets/icons/right.svg');
            background-position: right center;
            padding-right: 20px;
            width: 30%;
        }
    }
}