// Structure
$base__space-unit: 1.5rem;
// Colors
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;
//Typography 
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__main: Roboto;
//Colours
$color__accent: #dc4e3c;
$color__underline: rgba(1, 79, 90, 0.5);
$color__text-main: #3a3a3a;
$color__form__inactive: #757373;
$color__tags: #757373;
$color__reverse: #fff;
$color__link: #dc4e3c;
$color__link-visited: #dc4e3c;
$color__link-hover: #dc4e3c;
//Typography 
$font__main: Roboto, Arial, sans-serif;
$base__font: 18px;
$font__header: 18px;
$font__tags: 13px;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
//Screens
$breakpoint: 600px;