// Structure

$base__space-unit: 1.5rem;

//Colours

$colour__accent: #dc4e3c;
$colour__underline: #014f5a;
$colour__main: #3a3a3a;
$colour__form__inactive: #757373;
$colour__reverse: #fff;

//Typography 

$font__main: 'Acherus-Grotesque-Regular';
$base__font: 1.5rem; 
//base font size: 18pt = 24px = 1.5rem

