// Structure

$base__space-unit: 1.5rem;

//Colours

$color__accent: #dc4e3c;
$color__underline: #014f5a;
$color__main: #3a3a3a;
$color__form__inactive: #757373;
$color__reverse: #fff;

//Typography 

$font__main: 'Acherus-Grotesque-Regular';
$base__font: 1.5rem; 
//base font size: 18pt = 24px = 1.5rem

