/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

// Contact Form [MOBILE]
.contact-form {
	width: 94.13%;
	margin: 0 auto;
	p {
		text-align: center;
		span {
			input {
				width: 100%;
			}
		}
		input {
			width: 100px;
		}
	}
}

// Contact Form [MOBILE]
@media (min-width: $breakpoint) {
	.contact-form {
		width: 434px;		
	}
}