/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

// Contact Form [MOBILE]
.contact-form {
	width: 94.13%;
	margin: 0 auto;
	p:nth-child(2),
	p:nth-child(3),
	p:nth-child(4) {
		height: 38px;
	}
	p:nth-child(5) {
		margin-bottom: 0;
	}
	p:nth-child(6) {
		line-height: 17px;
	}
	textarea {
		height: 125px;
		padding-top: 6px;
	}
	p {
		text-align: center;
		margin: 0 0 10px;
		.wpcf7-submit {
			background-color: $color__accent;			
			border: 1px solid $color__accent;
			border-radius: 0;
			box-shadow: none;
			color: $color__reverse;
			font-size: $base__font;
			line-height: 22px;
			margin: 15px 0;
			text-shadow: none;
			width: 142px;
		}
		span {
			input {
				width: 100%;
			}
		}
		input {
			width: 100px;
		}
	}
	input, textarea {
		border: 0.5px solid $color__accent;
		border-radius: 0;
		padding-left: 12px;
	}
	h2 {
		font-size: 28px;
		letter-spacing: 1px;
		line-height: 25px;
		margin-bottom: 0;
		padding-top: 0;
		text-align: center;
	}
}

// Contact Form [DESKTOP]
@media (min-width: $breakpoint) {
	.contact-form {
		width: 434px;
		input, textarea {
			font-size: 18px;
		}
		p:nth-child(2),
		p:nth-child(3),
		p:nth-child(4) {
		height: 60px;
		}
		p {
			span {
				input {
					height: 48px;
				}
			}
		}
		textarea {
			padding: 13px 0 0 15px;
		}		
	}
}